<library path="src">
  <class name="Autonomous Navigation GUI" type="autonomous_nav_gui.autonomous_nav_gui_module.AutonomousNavGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      GUI to operate the autonomous navigation of the Zeus rover.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>GUI to operate the autonomous navigation of the Zeus rover.</label>
      <icon type="theme">system-help</icon>
      <statustip>GUI to operate the autonomous navigation of the Zeus rover.</statustip>
    </qtgui>
  </class>
</library>